<section id="projects" class="projects-section bg-light">
    <Container>

        <!-- Featured Project Row -->
        <Row Class="align-items-center no-gutters mb-4 mb-lg-5">
            <Column ColumnSize="ColumnSize.Is8.OnFullHD.Is7.OnDesktop">
                <img class="img-fluid mb-3 mb-lg-0" src="img/bg-masthead.jpg" alt="">
            </Column>
            <Column ColumnSize="ColumnSize.Is4.OnFullHD.Is5.OnDesktop">
                <div class="featured-text text-center text-lg-left">
                    <h4>Shoreline</h4>
                    <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
                </div>
            </Column>
        </Row>
        <Row Class="justify-content-center no-gutters mb-5 mb-lg-0">
            <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                <img class="img-fluid" src="img/demo-image-01.jpg" alt="">
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Misty</h4>
                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                    </div>
                </div>
            </Column>
        </Row>

        <Row Class="justify-content-center no-gutters mb-5 mb-lg-0">
            <Column ColumnSize="ColumnSize.Is6.OnDesktop">
                <img class="img-fluid" src="img/demo-image-02.jpg" alt="">
            </Column>
            <Column ColumnSize="ColumnSize.Is6.OnDesktop" Class="order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Mountains</h4>
                            <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                    </div>
                </div>
            </Column>
        </Row>

        

    </Container>
</section>