<section id="signup" class="signup-section">
    <Container>
        <Row>
            <Column ColumnSize="ColumnSize.Is10.OnDesktop.Is8.OnFullHD" Class="mx-auto text-center">
                <Icon Name="@("fa-paper-plane")"/>
                <Heading Size="HeadingSize.Is2" Class="text-white mb-5">Subscribe to receive updates!</Heading>
                
                <form class="form-inline d-flex">
                    <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                    <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
                </form>
            </Column>
        </Row>
    </Container>
</section>